html, body {
    background-color: #21232A;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

button{
    font-size: 1.3rem;
    padding: 3px;
    margin: 4px;

}